.carousel__title {
    padding: 2rem 0 0.8rem 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--cor-text-3);
    background-color: var(--cor-bg-2);
    text-align: center;
    text-transform: uppercase;

}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    


}

.swiper-pagination {
    position: initial;
    margin: 1.2rem 0 1.6rem 0;
}

.card {
    margin-top: 2rem;
    padding: 1.6rem;
    background-color: var(--cor-bg-2);
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem 0 var(--cor-shadown);
    width: 88vw;
    height: 29.5rem;
    align-content: center;

}

.card-align {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;

}

.card__container__info {
    width: 50%;

}

.card__container__info__title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: normal;
    color: var(--cor-text-3);

}

.card__container__info__title-book {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: normal;
    color: var(--cor-text-4);
    margin: 0.8rem 0 0.8rem 0;

}

.card__container__info__text {
    font-size: 1.4rem;
    line-height: normal;

}

.card__btn {
    display: flex;
    justify-content: space-between;

}

.card__btn__list {
    display: flex;
    gap: 1.6rem;
}

.card__container__img {
    width: 16rem;
    height: 16.8rem;
}

.card__btn__link {
    background-color: var(--cor-btn-1);
    color: var(--cor-text-2);
    width: 16rem;
    height: 4.8rem;
    align-content: center;
    text-align: center;
    font-size: 1.6rem;

}

#ckb-like,
#ckb-cart,
#ckb-like-writer,
#ckb-cart-writer {
    display: none;
}

#ckb-like:checked+.lb-like>svg {
    animation: like;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#ckb-like-writer:checked+.lb-like-writer>svg {
    animation: like-writer;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes like {
    0% {
        fill: transparent;
    }

    100% {
        fill: var(--cor-text-3);
    }
}

@keyframes like-writer {
    0% {
        fill: transparent;
    }

    100% {
        fill: var(--cor-text-3);
    }
}

#ckb-cart:checked+.lb-cart img {
    animation: cart;
    animation-duration: 0.5s;
}

#ckb-cart-writer:checked+.lb-cart-writer img {
    animation: cart-writer;
    animation-duration: 0.5s;
}

@keyframes cart {

    /* 0%{
        content: url('../assets/images/Compras.svg');
    } */
    100% {
        content: url('../assets/images/Compras2.svg');
        content: attr('animationend')
    }

}
@keyframes cart-writer {

    100% {
        content: url('../assets/images/Compras2.svg');
        content: attr('animationend')
    }

}

/* Star */

.avaliation{
    display: flex;
    cursor: pointer;
    color: var(--cor-text-3);
    font-size: 1.6rem;
    height: 1.6rem;
}
.star-icon::before{
    content: "\2605";
}
.star-icon.active ~ .star-icon::before{
    content: "\2606";
}
.avaliation:hover ~ .star-icon::before{
    content: "\2605";
}
.star-icon:hover ~ .star-icon::before {
    content: "\2606";
}
@media screen and (min-width: 1024px){
    .carousel__title{
        font-size: 2.6rem;
        padding: 5.1rem 0 1.6rem 0;
    }
    .swiper {
        width: 70vw;
        /* margin: 0 -15rem 0 15rem; */
        padding-top: 3.2rem;
   }

   .swiper-pagination{
    margin-bottom: 7.7rem;
    
   }
   .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
   }
   /* VISITAR NOVAMENTE E AJUSTAR */
   .swiper-button-next::after, .swiper-button-prev::after {
    content: "";
    }
   .swiper-button-prev,
   .swiper-button-next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;
        width: 5rem;
        height: 5rem;
        background: var(--cor-linear2);
        color: var(--cor-text-2);
        /* margin: 0 -1.5rem; */
        border-radius: 100%;
        font-size: 2.4rem;
   }
   /* VISITAR NOVAMENTE E AJUSTAR */
   .card{
    margin-top: 6rem;
    margin-bottom: 4.8rem;
    width: 60vw;
   }
   .card__container, .card__btn {
    justify-content: space-around;
   }
   .card__container__info, .card__btn__list {
        width: 60%;
    }
}

@media screen and (min-width: 1728px){
    .carousel__title{
        font-size: 3.6rem;
        padding-top: 6rem;
    }
    .carousel-lg{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        height: 50rem;
        margin: 7.4rem;
    }
    .swiper{
        width: 75rem;
        margin-right: 2rem;
        margin-right: -2rem;
        padding-bottom: 11rem;
    }
    .swiper-pagination {
        padding: 2.8rem;
        margin: 0;
    }
    swiper-slide{
        height: 55rem;   
     }
        .card{
            width: 59rem;
            margin: 0 2rem 11rem -2rem;
        }
        .card-align{
            width: 50%;
        }
        .swiper-button-prev,
        .swiper-button-next {
            top:50%;
        }
}