.footer {
    background-color: var(--cor-bg-2);
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__title {
    font-size: 1.6rem;
}
.footer__text {
    font-size: 0.9rem;
    font-style: italic;
    
}

a{
    color: var(--cor-text-1);
    text-decoration: none;
    font-weight: 600;
}